<%
username = params[:form]
username &&= username[:username]

email = params[:form]
email &&= email[:email]

%>

<% form_tag :action => "password_request_reset_link"  do %>
  <p>Please enter your username or email address below.
    You will recieve an email with a link to reset your password.
  </p> 

  <p>
    <b>Username:</b>
    <%= text_field_tag "form[username]", username %>
  </p>

  <p>- OR -</p>

  <p>
    <b>Email:</b>
    <%= text_field_tag "form[email]", email %>
  </p>

  <%= submit_tag "Request Password Reset" %>
<% end %>
  
Not registered?  <%= link_to "Register Here", :controller => "user" %>
