<p>We have sent you a link to reset your password to the email address you provided (or to the email address associated with the username you provided.)
</p>
<p>
Please check your email and click on the link to enter a new password.
</p>